.type-1915 .faqs {
  border: 1px solid #6A9483;
}
.type-1915 h2 {
  font-size: 25px;
  font-weight: bold;
  padding: 0 15px;
  margin: 15px -15px;
}
.type-1915 h3 {
  font-size: 15px;
  border: none;
  border-top: 1px solid;
  border-radius: 0;
  margin: 0 -15px;
  padding: 15px;
  background: #fff;
  text-transform: uppercase;
  line-height: none !important;
}
.type-1915 .accordion::after {
  content: "\2212";
  float: right;
}
.type-1915 .active::after {
  content: '\002B';
  float: right;
}
.type-1915 .panel {
  border: none;
  border-radius: 0;
}
.type-1915 .panel p {
  color: #999;
}
.type-1915 .swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.type-1915 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 767px) and (min-width: 436px) {
  .type-1915 .top-row {
    margin: 0;
  }
}
