.type-1915 {
  padding-left: 15px;
  padding-right: 15px;
}
.type-1915 .sidebar-post {
  padding-top: 20px;
}
.type-1915 .sidebar-post .widget {
  border: 1px solid #e5e5e5;
  margin-bottom: 30px;
}
.type-1915 .sidebar-post ul.list-post-faq {
  margin: -10px 0;
  padding: 0;
}
.type-1915 .sidebar-post .list-post-faq > li {
  padding: 0;
  border-bottom: 1px solid #e5e5e5;
}
.type-1915 .sidebar-post .list-post-faq > li:last-child {
  border: medium none;
}
.type-1915 .sidebar-post ul {
  list-style: none;
}
.type-1915 .sidebar-post .list-post-faq li h3 {
  cursor: pointer;
  font-size: 14px;
  margin: 0;
  padding: 12px 20px 11px 0;
  position: relative;
  text-transform: uppercase;
}
.type-1915 .sidebar-post .list-post-faq li.active h3::after {
  content: "-";
}
.type-1915 .sidebar-post .list-post-faq h3::after {
  content: "+";
  position: absolute;
  right: 0;
  top: 12px;
}
.type-1915 .sidebar-post .list-post-faq li.active p {
  display: block;
}
.type-1915 .sidebar-post .list-post-faq li p {
  color: #999;
  margin-bottom: 15px;
  display: none;
}
.type-1915 .sidebar-post p {
  line-height: 24px;
}
.type-1915 .widget .widget-title {
  border-bottom: 1px solid #e5e5e5;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
}
.type-1915 .textwidget {
  border: 0;
  padding: 20px;
}
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .type-1915 .sidebar-widget .widget-title {
    font-size: 8px;
  }
  .type-1915 .sidebar-widget .textwidget .list-post-faq .active h3 {
    font-size: 10px;
  }
  .type-1915 .sidebar-widget .textwidget .list-post-faq .active p {
    font-size: 9px;
  }
  .type-1915 .sidebar-widget .textwidget .list-post-faq li h3 {
    font-size: 10px;
  }
}
