.type-679 a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}
.type-679 a:hover {
  color: #ff9933;
}
.type-679 ul {
  padding: 0;
}
.type-679 li {
  list-style: none;
}
.type-679 #lms_header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  clear: both;
  background: rgba(255,255,255,0.1);
  min-height: 94px;
  z-index: 99999;
  transition: all 0.3s;
}
.type-679 #lms_header .logo_container {
  height: 87px;
  margin-bottom: -108px;
  position: relative;
  max-width: 1170px;
  -webkit-transition: all 0.3s;
}
.type-679 .navigation_menu {
  z-index: 0;
}
.type-679 .navigation_menu .mega_menu_container #nav {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: absolute;
  left: 50%;
  margin-left: -10em;
}
.type-679 .navigation_menu .mega_menu_container #nav > a {
  display: none;
}
.type-679 .navigation_menu .mega_menu_container #nav li {
  position: relative;
  list-style: none;
}
.type-679 .navigation_menu .mega_menu_container #nav li a {
  display: block;
}
.type-679 .navigation_menu .mega_menu_container #nav span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent;
  border-bottom: none;
  border-top-color: #efa585;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em;
}
.type-679 .navigation_menu .mega_menu_container #nav > ul {
  height: 3.75em;
}
.type-679 .navigation_menu .mega_menu_container #nav > ul > li {
  height: 100%;
  float: left;
  list-style: none;
}
.type-679 .navigation_menu .mega_menu_container #nav > ul > li > a {
  height: 100%;
  font-size: 17px;
  line-height: 2.5em;
  text-align: center;
}
.type-679 .navigation_menu .mega_menu_container #nav > ul > li:hover > a,
.type-679 .navigation_menu .mega_menu_container #nav > ul:not( :hover ) > li.active > a {
  border-bottom: 4px solid #ff9931;
  background: none;
  color: #ff9931;
  border-radius: 0;
}
.type-679 .navigation_menu .mega_menu_container #nav li ul {
  display: none;
  position: absolute;
  top: 100%;
  padding: 0;
  margin: 0;
}
.type-679 .navigation_menu .mega_menu_container #nav li:hover ul {
  display: block;
  left: 0;
  right: 0;
}
.type-679 .navigation_menu .mega_menu_container #nav li:not( :first-child ):hover ul {
  left: -1px;
}
.type-679 .navigation_menu .mega_menu_container #nav li ul a {
  font-size: 1.25em;
  padding: 0.75em;
}
.type-679 .navigation_menu .mega_menu_container #nav li ul li a:hover,
.type-679 .navigation_menu .mega_menu_container #nav li ul:not( :hover ) li.active a {
  background-color: #e15a1f;
}
.type-679 .lms_header_top {
  background: black;
}
.type-679 .lms_any_que_wrapper {
  padding: 10px 0;
}
.type-679 .lms_any_que_wrapper .lms_mobile,
.type-679 .lms_any_que_wrapper p {
  margin: 0 5px 0 0;
  display: inline-block;
  color: white;
}
.type-679 .lms_any_que_wrapper .lms_email {
  display: inline-block;
  color: white;
}
.type-679 .lms_any_que_wrapper .lms_email a {
  color: white;
}
.type-679 .lms_any_que_wrapper .lms_email a:hover {
  color: #ff9933;
  text-decoration: none;
}
.type-679 .lms_login_wrapper {
  text-align: right;
}
.type-679 .lms_login_wrapper ul {
  margin: 0;
  padding: 10px 0;
}
.type-679 .lms_login_wrapper li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
.type-679 .lms_login_wrapper li a {
  color: white;
}
.type-679 .lms_login_wrapper li a:hover {
  color: #ff9933;
}
.type-679 .lms_login_wrapper li:first-child {
  margin: 0 !important;
}
.type-679 .logo {
  margin: 0;
  padding: 5px 0;
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  color: transparent;
  z-index: 9999;
  float: left;
}
.type-679 .logo a {
  z-index: 1;
}
.type-679 .logo img {
  position: relative;
}
.type-679 .lms_search_toggle {
  position: absolute;
  right: 105px;
  cursor: pointer;
  transition: all 0.3s;
}
.type-679 .lms_menu_toggle {
  display: none;
  position: relative;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #fff;
  top: 35px;
  right: 0;
  float: right;
  transition: all 0.3s;
  background: transparent;
  color: #fff;
}
.type-679 .lms_search_wrapper {
  position: absolute;
  top: 100%;
  right: 15px;
  width: 100px;
  height: auto;
  padding: 25px;
  margin-top: 1px;
  background: #f0f0f0;
  min-width: 248px;
}
.type-679 .lms_search_wrapper input {
  border: 1px solid #9EA6B0;
  height: 40px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  background-color: #fff;
}
.type-679 .lms_page_title {
  width: 100%;
  float: left;
  position: relative;
  margin-bottom: 78px;
  margin-bottom: 50px;
}
.type-679 .lms_page_title .lms_page_title_bg {
  min-height: 310px;
  width: 100%;
  float: left;
  background: url(../images/bg1_new.jpg) 0% -110px;
  background-attachment: fixed;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay {
  position: relative;
  width: 100%;
  float: left;
  background: url(../images/bg.png);
  min-height: 310px;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container {
  margin-top: 218px;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container .lms_title {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  float: left;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb {
  background: none;
  padding: 8px 0;
  margin: 5px auto;
  list-style: none;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li {
  display: inline-block;
  font-size: 17px;
  text-transform: capitalize;
  cursor: pointer;
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:before {
  padding: 0 5px;
  color: #929292;
  content: "/\00a0";
}
.type-679 .lms_page_title .lms_page_title_bg_overlay .container .breadcrumb li:last-child {
  color: #ff9933;
}
@media (min-width: 601px) and (max-width: 900px) {
  .type-679 .dropdown-menu li a {
    background: #1a1a1a;
    text-align: center;
    color: #fff;
  }
  .type-679 .dropdown-menu li a:hover {
    border-bottom: 4px solid #ff9931;
    background: none;
    color: #ff9931;
    border-radius: 0;
  }
  .type-679 .lms_menu_toggle {
    display: block;
  }
  .type-679 .par_dropdown_toggle {
    padding: 0 !important;
  }
  .type-679 .lms_search_toggle {
    top: 200px;
    right: 50px;
  }
  .type-679 #nav {
    position: relative;
    right: 0px;
    background: #1a1a1a;
    width: auto;
    top: 175px;
  }
  .type-679 #nav > a {
    width: 3.125em;
    height: 3.125em;
    text-align: left;
    text-indent: 999px;
    background-color: #e15a1f;
    position: relative;
  }
  .type-679 #nav > a:before,
  .type-679 #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  .type-679 #nav > a:after {
    top: 60%;
  }
  .type-679 #nav:not( :target ) > a:first-of-type,
  .type-679 #nav:target > a:last-of-type {
    display: block;
  }
  .type-679 #nav > ul {
    height: auto;
    display: block;
    left: 0;
    right: 0;
  }
  .type-679 #nav:target > ul {
    display: block;
  }
  .type-679 #nav > ul > li {
    width: 100%;
    float: none;
  }
  .type-679 #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
  }
  .type-679 #nav > ul > li:not( :last-child ) > a {
    border-right: none;
  }
  .type-679 #nav li ul {
    position: static;
    padding: 1.25em;
    padding-top: 0;
  }
}
@media (min-width: 300px) and (max-width: 600px) {
  .type-679 .lms_menu_toggle {
    display: block;
  }
  .type-679 .dropdown-menu li a {
    background: #1a1a1a;
    text-align: center;
    color: #fff;
  }
  .type-679 .dropdown-menu li a:hover {
    border-bottom: 4px solid #ff9931;
    background: none;
    color: #ff9931;
    border-radius: 0;
  }
  .type-679 .par_dropdown_toggle {
    padding: 0 !important;
  }
  .type-679 .lms_search_toggle {
    top: 200px;
    right: 50px;
  }
  .type-679 #nav {
    left: auto;
    background: #1a1a1a;
    width: auto;
    top: 195px;
  }
  .type-679 #nav > a {
    width: 3.125em;
    height: 3.125em;
    text-align: left;
    text-indent: 999px;
    background-color: #e15a1f;
    position: relative;
  }
  .type-679 #nav > a:before,
  .type-679 #nav > a:after {
    position: absolute;
    border: 2px solid #fff;
    top: 35%;
    left: 25%;
    right: 25%;
    content: '';
  }
  .type-679 #nav > a:after {
    top: 60%;
  }
  .type-679 #nav:not( :target ) > a:first-of-type,
  .type-679 #nav:target > a:last-of-type {
    display: block;
  }
  .type-679 #nav > ul {
    height: auto;
    display: block;
    left: 0;
    right: 0;
  }
  .type-679 #nav:target > ul {
    display: block;
  }
  .type-679 #nav > ul > li {
    width: 100%;
    float: none;
  }
  .type-679 #nav > ul > li > a {
    height: auto;
    text-align: left;
    padding: 0 0.833em;
  }
  .type-679 #nav > ul > li:not( :last-child ) > a {
    border-right: none;
  }
  .type-679 #nav li ul {
    position: static;
    padding: 1.25em;
    padding-top: 0;
  }
}
