.type-1920 {
  font-family: "Open Sans", sans-serif;
}
.type-1920 .container {
  width: 100%;
}
.type-1920 .about-review .about .tittle-default {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 16px;
}
.type-1920 .about-review .item-about-review {
  display: table;
  margin-bottom: 50px;
}
.type-1920 .about-review .about-review-img {
  display: table-cell;
}
.type-1920 .about-review .about-review-img a {
  border: 1px solid #e5e5e5;
  display: block;
  padding: 10px;
}
.type-1920 .about-review .about-review-img a:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.type-1920 .about-review .about-review-img a img {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.type-1920 .about-review .about-review-info {
  display: table-cell;
  padding: 0 30px;
  vertical-align: top;
}
.type-1920 .about-review .about-review-info a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.type-1920 .about-review .about-review-info a:hover {
  color: #f9bc02;
}
.type-1920 .about-review .about-review-info p {
  color: #999;
  margin: 0;
  line-height: 24px;
}
.type-1920 .about-review .about-review-info h3 {
  font-size: 14px;
  margin: 0 0 8px;
}
@media (max-width: 768px) {
  .type-1920 .col-sm-6 {
    width: 100%;
  }
}
