.type-682 {
    @color-timer: #fde230;
    @color-bg-next-back-button: rgba(216, 216, 216, 0.85);
    @color-carousel-caption: rgba(0,0,0,0.4);


    img {
        width: 100%;
    }
    p {
        margin: 0 0 60px;
    }

    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .imgLoaded {
        visibility: visible;
        height: 448px; 
        margin-top: 0px; 
        position: absolute; 
    }
    .camerarelative {
        height: 448px;
        overflow: hidden;
        position: relative;
    }

    .carousel-caption {
        position: absolute;
        right: 0;
        left: 0;
        z-index: 10;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #fff;
        text-align: center;
        background: @color-carousel-caption;
    }

    .swiper-button-prev, .swiper-button-next {
        background: @color-bg-next-back-button;
        cursor: pointer;
        height: 40px;
        margin-top: -45px;
        position: absolute;
        top: 50%;
        width: 40px;
        z-index: 2;
    }

    .timer {
        height: 1%;
        width: 0%;
        position: absolute;
        left: 0;
        height: 3px;
        bottom: 25px;
        background: @color-timer;
        z-index: 10;
    }

    
    .carousel-indicators {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        z-index: 15;
        margin: 0;
        padding: 0 10px 10px 0;
        text-align: right;
        li:hover > span {
            background: @color-bullet-hover;
        }
        li:active > span {
            background: #1f1f1f;

        }
    }
    li {
        background: @color-bg-bullet;
        border-radius: 8px;
        cursor: pointer;
        display: inline-block;
        height: 16px;
        margin: 20px 5px;
        position: relative;
        text-indent: -9999px;
        width: 16px;
    }
}