.type-682 img {
  width: 100%;
}
.type-682 p {
  margin: 0 0 60px;
}
.type-682 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-682 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-682 .imgLoaded {
  visibility: visible;
  height: 448px;
  margin-top: 0px;
  position: absolute;
}
.type-682 .camerarelative {
  height: 448px;
  overflow: hidden;
  position: relative;
}
.type-682 .carousel-caption {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}
.type-682 .next682,
.type-682 .prev682 {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #333 none repeat scroll 0 0;
  text-align: center;
}
.type-682 .next682 {
  right: 0;
}
.type-682 .prev682 {
  left: 0;
}
.type-682 .arrow682 .next682,
.type-682 .arrow682 .prev682 {
  opacity: .5;
}
.type-682 .next682:hover,
.type-682 .prev682:hover {
  opacity: 2;
}
.type-682 .timer {
  height: 1%;
  width: 0%;
  position: absolute;
  left: 0;
  height: 3px;
  bottom: 25px;
  background: #fde230;
  z-index: 10;
}
.type-682 .swiper-container .carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 10px 10px 0;
  text-align: right;
}
.type-682 .swiper-container .carousel-indicators li:hover > span {
  background: #b7b7b7;
}
.type-682 .swiper-container .carousel-indicators li:active > span {
  background: #1f1f1f;
}
.type-682 .swiper-container li {
  background: #fde230;
  border-radius: 8px;
  cursor: pointer;
  display: inline-block;
  height: 16px;
  margin: 20px 5px;
  position: relative;
  text-indent: -9999px;
  width: 16px;
}
@media (max-width: 768px) {
  .type-682 .carousel-caption {
    font-size: 14px;
  }
  .type-682 .carousel-caption h1 {
    font-size: 25px;
  }
}
