.type-1921{

    .img{
        padding-top: 20px;
    }
    .item-adv-simple a{
        position: relative;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
    }

    .item-adv-simple a:before{
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        bottom: 20px;
        content: "";
        left: 15px;
        position: absolute;
        right: 15px;
        top: 20px;
        transform: scale(0, 1);
        -webkit-transform: scale(0, 1);
        -moz-transform: scale(0, 1);
        z-index: 9;
    }
    .item-adv-simple a:after{
        border-left: 1px solid rgba(255, 255, 255, 0.8);
        border-right: 1px solid rgba(255, 255, 255, 0.8);
        bottom: 20px;
        content: "";
        left: 15px;
        position: absolute;
        right: 15px;
        top: 20px;
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        z-index: 9;
    }
    .item-adv-simple:hover a:before, .item-adv-simple:hover a:after {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .img{
        img.img-responsive{
            position: relative;
        }
        .slide-band6{
            .img2{ 
                .single-img.item-adv-simple.item2{
                    padding-top: 15px;
                }
            }
            h3{
                font-size: 23px;
                font-weight: 700;
                position: absolute;
                margin-top: -130px;
                margin-left: 25px;
                text-align: left;
                color: #fff;
                p{
                    font-size: 14px;
                    margin: 10px 0;
                    font-weight: 200;
                }

                span{
                    font-size: 20px;
                }
            }

            .item2{
                h3{
                    color: #4bae4f;
                    p{
                        color: rgb(89,89,87);
                    }
                }
            }
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){  
        .wrapper.item-adv-simple{
            text-align: center;
            img{
                width: auto;
            }
        }

        .img .slide-band6 {

            .img2{
                padding-top: 20px;

                h3{
                    font-size: 20px;
                }

                p{
                    font-size: 12px;
                }
            } 
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px){  
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }
        }

        .img .slide-band6 {
            .img2{
                padding-top: 20px;
                text-align: center;
            } 
        }
    }

    @media only screen and (min-width: 992px){   
        .wrapper.item-adv-simple{
            img{
                width: auto;
            }
        }
        .img .slide-band6 {
            .img2{
                
                h3{
                    margin-top: -115px;
                }

                p {
                    font-size: 12px;
                    margin: 10px 0;
                } 
            } 
        }
    }

    @media only screen and (min-width: 1200px){ 
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }
        }
        .img .slide-band6 {
            .img2{
                
                h3{
                    margin-top: -130px;
                }

                p {
                    font-size: 16px;
                    margin: 10px 0;
                } 
            } 
        } 
    }
}

