.type-1921{
    .img{
        img.img-responsive{
            position: relative;
        }
        padding-top: 50px;
        .slide-band6{
            padding-left: 0;
            .img2{ 
                .wrapper{
                    padding-left: 5px;

                    .single-img.item-adv-simple.item2{
                        padding-top: 32px;
                    }
                }
            }
            .info-2{
                bottom: 222px;
                right: 170px;
                padding: 25px;
                position: absolute;
                color: #fff;

                h3{
                    font-size: 23px;
                    font-weight: 700;
                }

                p{
                    font-size: 14px;
                }

                span{
                    font-size: 20px;
                }
            }

            .info-3{
                bottom: 20px;
                right: 170px;
                padding: 25px;
                position: absolute;
                color: #4bae4f;;

                h3{
                    font-size: 23px;
                    font-weight: 700;
                }

                p{
                    color: rgb(89,89,87);
                }
            }
        }
    }

    @media only screen and (min-width: 480px) and (max-width: 767px){ 
        .wrapper.item-adv-simple{
            padding-left: 30px;

            img{
                width: auto;
            }
        }

        .img .slide-band6 {

            .img2 .wrapper{
                padding-left: 22px;

                .item1{
                    padding-top: 20px;
                }

                .info-2{
                    right: 225px;
                    bottom: 240px;
                }
            }

            .info-3{
                right: 225px;
            }
        } 
    }
}
