.type-1921{
  .slide-right{
    text-align:center;
    .single_image_1
    {
      padding-bottom:20px;
      .figure-image{
        position:relative;
        a{
          display: inline-block;
          vertical-align: top;
          max-width: 100%;
          transition: border 2s;
          img{  
            height: auto;
            max-width: 100%;
            vertical-align: top;
          }
        }
        .title-image{
          padding:5px 10px;
          position:absolute;
          top: 20px;
          left: 22px;
          right:22px;
          bottom:20px;
          color:#FDFEDA;
          text-align:left;
          font-family:"Open Sans";
          border:none;
          h3{
            font-weight:bold;
          }
          span{
            font-size:26px;
            font-weight:600;
          }
        }
      }
      .figure-image:hover{
        .title-image{
            border:1px solid #fff;
            transition: border .35s linear;
        }
      }
    }
    .single_image_2
    {
      .figure-image{
        position:relative;
        a{
          display: inline-block;
          vertical-align: top;
          max-width: 100%;
          transition: border 2s;
          img{  
            height: auto;
            max-width: 100%;
            vertical-align: top;
          }
         
        }
        .title-image-2{
          position:absolute;
           padding:5px 10px;
          top: 20px;
          left: 22px;
          right:22px;
          bottom:20px;
          text-align:left;
          font-family:"Open Sans";
           border:none;
          h3{
            color:#51A94D;
            font-weight:bold;
          }
          p{
            color:#959FA0;
          }
          span{
            font-size:26px;
            font-weight:600;
            color:#51A94D;
          }
        }
      }
      .figure-image:hover{
          .title-image-2{
            border:1px solid #fff;
          }
      }
    }
  }
}
