.type-1922 {
  font-family: "Open Sans", sans-serif;
}
.type-1922 .form {
  margin-top: 10px;
  border: 1px solid #eaeaec;
  width: 272px;
  height: 266px;
  color: #333;
}
.type-1922 .form .form-radio {
  padding: 0 20px;
}
.type-1922 .form button {
  background: #333 none repeat scroll 0 0;
  color: #fff;
  height: 36px;
  margin: 10px 0 0;
  border: medium none;
  width: 100px;
  text-transform: uppercase;
}
.type-1922 .form h2 {
  font-size: 18px;
  font-weight: bold;
}
.type-1922 .form p {
  line-height: 24px;
}
.type-1922 .form .text {
  color: #666;
}
@media (max-width: 767px) {
  .type-1922 .form {
    width: 100% !important;
  }
}
