.type-1904{
    @background-button: #4bae4f;
    @font-weight700: 700;
    @size20: 20px;
    @size25: 25px;
    @size30: 30px;
    @size40: 40px;

    .item-adv-simple a{
        position: relative;
        display: inline-block;
        vertical-align: top;
        max-width: 100%;
    }

    .item-adv-simple a:before{
        border-bottom: 1px solid rgba(255, 255, 255, 0.8);
        border-top: 1px solid rgba(255, 255, 255, 0.8);
        bottom: 20px;
        content: "";
        left: 15px;
        position: absolute;
        right: 15px;
        top: 20px;
        transform: scale(0, 1);
        -webkit-transform: scale(0, 1);
        -moz-transform: scale(0, 1);
        z-index: 9;
    }
    .item-adv-simple a:after{
        border-left: 1px solid rgba(255, 255, 255, 0.8);
        border-right: 1px solid rgba(255, 255, 255, 0.8);
        bottom: 20px;
        content: "";
        left: 15px;
        position: absolute;
        right: 15px;
        top: 20px;
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        z-index: 9;
    }
    .item-adv-simple:hover a:before, .item-adv-simple:hover a:after {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .img{
        img.img-responsive{
            position: relative;
        }
        padding-top: 20px;
        .slide-band6{

            .img1{
                padding: 0;
            }
            .img2{                 
                .single-img.item-adv-simple.item2{
                    padding-top: 25px;
                }
            }
            .info-1{
                position: absolute;
                top: 20%;
                right: 30px;
                padding: @size25;
                text-transform: uppercase;
                text-align: center;
                h1{
                    display: inline-block;
                    line-height: 50px;
                    padding: 0 20px;
                    color: #4bae4f;
                    font-size: 44px;
                    font-weight: @font-weight700;
                    position: relative;
                    letter-spacing: 5px;
                }

                p{
                    font-size: 28px;
                    color: rgb(80,80,80);
                }

                .button{
                    background-color: @background-button;
                    border: none;
                    color: white;
                    padding: 15px 32px;
                    text-align: center;
                    text-decoration: none;
                    display: inline-block;
                    text-transform: uppercase;
                    font-size: 13px;

                    span {
                        cursor: pointer;
                        display: inline-block;
                        position: relative;
                        transition: 0.5s;
                        font-weight: @font-weight700;

                        ::after {
                            content: '\00bb';
                            position: absolute;
                            opacity: 0;
                            top: 0;
                            right: -20px;
                            transition: 0.5s;
                        }
                    }
                    .button:hover {background-color: #3e8e41}

                    .button:active {
                        background-color: #3e8e41;
                        box-shadow: 0 5px #666;
                        transform: translateY(4px);
                    }

                    .item-adv-simple .wrapper {
                        padding-bottom: 20px;
                    }
                }
            }


            .info-2{
                bottom: 235px;
                left: 170px;
                padding: @size25;
                position: absolute;
                color: #fff;

                h3{
                    font-size: 23px;
                    font-weight: 700;
                }

                p{
                    font-size: 14px;
                }

                span{
                    font-size: 20px;
                }
            }

            .info-3{
                bottom: 27px;
                left: 206px;
                padding: @size25;
                position: absolute;
                color: #4bae4f;;

                h3{
                    font-size: 23px;
                    font-weight: @font-weight700;
                }

                p{
                    color: rgb(89,89,87);
                }
            }
        }
    }
    @media only screen and (min-width: 480px) and (max-width: 767px){  
        .img1 {
            padding: 15px!important;
        }
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }

            text-align: center;
        }

        .item-adv-simple a:after{
            display: none;
        }
        .item-adv-simple a:before{
            display: none;
        }

        .img .slide-band6 {
            .info-1{
                top: 20px;
                right: 25px;
                h1{
                    font-size: 30px;
                }

                p{
                    font-size: 20px;
                }
            }

            .img2{
                .wrapper{

                    .item1, .item2{
                        padding-top: 20px;
                    }

                    .info-2{
                        left: 255px;
                    }

                    .info-3{
                        left: 260px;
                    }
                }
            } 
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 991px){ 
        .img1 {
            padding: 15px!important;
        }
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }
            text-align: center;
        }

        .item-adv-simple a:after{
            display: none;
        }
        .item-adv-simple a:before{
            display: none;
        }

        .img .slide-band6 {
            .info-1{
                top: 40px;
                right: 40px;
                h1{
                    font-size: 44px;
                }

                p{
                    font-size: 28px;
                }
            }

            .img2{
                .wrapper{
                    .item1, .item2{
                        padding-top: 20px;
                    }

                    .info-2{
                        left: 348px;
                    }

                    .info-3{
                        left: 370px;
                    }
                }
            } 

        }
    }

    @media only screen and (min-width: 992px){   
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }
        }
        .img .slide-band6 {
            .info-1{
                top: 8px;
                right: 10px;
                h1{
                    font-size: 44px;
                }

                p{
                    font-size: 28px;
                }
            }

            .img2{
                bottom: 21px;
                left: 12px;
                .wrapper{

                    .single-img.item-adv-simple.item2{
                        padding-top: 31px;
                    }

                    .item1{
                        padding-top: 20px;
                    }

                    .info-2{
                        padding: 24px;
                        left: 128px;
                        bottom: 190px;

                        h3{
                            font-size: 19px;
                        }
                    }
                    
                    .info-3{
                        bottom: 10px;
                    }
                }
            } 
        } 
        .info-3{
            left: 150px!important;
            bottom: 5px;

            h3{
                font-size: 20px!important;
            }

            p{
                font-size: 12px;
            }
        }
    }

    @media only screen and (min-width: 1200px){ 
        .wrapper.item-adv-simple{

            img{
                width: auto;
            }
        }
        .img .slide-band6 {
            .info-1{
                top: 50px;
                right: 40px;
                h1{
                    font-size: 44px;
                }

                p{
                    font-size: 28px;
                }
            }

            .img2{
                bottom: 21px;
                .wrapper{

                    .item1{
                        padding-top: 20px;
                    }

                    .info-2{
                        padding: 24px;
                        left: 180px;
                        top: @size25;

                        h3{
                            font-size: 20px;
                        }
                    }
                }
            }
        } 
        .info-3{
            left: 190px!important;
            bottom: @size25!important;

            h3{
                font-size: 20px!important;
            }

            p{
                font-size: 14px;
            }
        }
    }
}