.type-350 .clear {
  clear: both;
}
.type-350 div,
.type-350 span {
  border: 0;
  font-size: 100%;
  padding: 0;
}
.type-350 h5 {
  font-size: 14px;
  margin: 10px 0;
  padding-top: 18px;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
.type-350 h5 .title {
  font-weight: 500;
  margin-top: 0;
  text-shadow: 1px 1px 0 #fff;
}
.type-350 .swiper-wrapper {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
.type-350 .swiper-wrapper img {
  width: 130px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
.type-350 .circlehover:hover {
  color: #fff;
  transform: scale(1.1);
  box-shadow: 5px 5px 1px rgba(0,0,0,0.2);
}
.type-350 a:hover {
  text-decoration: none;
  outline: 0;
}
.type-350 .keywordbox {
  border-top: 4px solid #ddd;
  position: relative;
  padding-top: 30px;
  font-size: 23px;
  font-style: italic;
  text-align: center;
  color: #000;
}
.type-350 .keywordbox:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -3px;
  border: 6px solid transparent;
  border-top-color: #ddd;
}
.type-350 .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.type-350 .swiper-container {
  width: 100%;
  height: 100%;
}
.type-350 .thumbnail {
  border: 4px solid #ddd;
  height: 72px;
  width: 224px;
}
.type-350 .swiper-slide.col-md-3 {
  margin-right: 27px !important;
}
